{#{{ dump(data.id) }}#}
{#{{ dump(data.organisation.id) }}#}
<a href="{{ path('app_backend_project_task_index', { 'projectId': data.id, 'organisationId': data.organisation.id }) }}" class="ui {{ options.class|default }} labeled icon button">
    <i class="{{ action.icon }} icon"></i> {{ action.label|trans }}
</a>