<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.ui.article_details'|trans }}</h4>
            {{ form_row(form.title) }}
            {{ form_row(form.text) }}
            {{ form_row(form.comments) }}
        </div>
    </div>
</div>
